* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #0800ff;
    height: 100%;
    width: 100%;
}

.contenedor {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 2% 0;
    width: 65%;
    text-align: center;
}

.contenedor > .titulo {
    padding: 3%;
}

.contenedor > .titulo > h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario {
    padding: 1rem 0;
}

.formulario > label, input, select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}

button {
    padding: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}